name: Build binaries

on:
  push:
  pull_request:
    paths:
    - '.github/workflows/*.yml'
    - './scripts/*.sh'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:

      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> "$GITHUB_ENV"

      - name: Checkout builder
        uses: actions/checkout@v4

      - name: Install arm toolchain
        run: ./scripts/install_arm.sh

      - name: Checkout ulab/micropython
        run: ./scripts/init.sh

      - name: Create artifacts directory
        run: mkdir ./artifacts

      - name: Set execute permissions for the script
        run: chmod +x ./scripts/stm32/nucleo_L476RG.sh

      - name: Compile for NUCLEO L476RG
        run: ./scripts/stm32/nucleo_L476RG.sh

      # - uses: "marvinpinto/action-automatic-releases@latest"
      #   with:
      #     repo_token: "${{ secrets.GITHUB_TOKEN }}"
      #     prerelease: false
      #     automatic_release_tag: "latest"
      #     title: "Release date ${{ steps.date.outputs.date }}"
      #     files: ./artifacts/*

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: ./artifacts/*
          token: ${{ secrets.GITHUB_TOKEN }}
          name: ${{ steps.date.outputs.date }}
          tag_name: ${{ github.ref }}
